@import "../../index.scss";

.footer {
  background-color: $background-color;

  .footer__divider {
    border: 1px solid $black-color;
  }

  .footer__logoCJ {
   width: 7rem;
   margin-top: 3rem;
  }

  .logoCine {
    max-width: 100%;
  }

  .footer__bottom{
    height: 7rem;
  }
}
